body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(214,116,114);
    border-collapse: collapse;
}

/*Section*/
.sectionInline {
    display: inline-block;
}

.leftSection {
    float: left;
    width: 49%;
    height: 1500px;
    background-size: cover;
    border-radius: 12px 0px 0px 12px;
    text-align: center;
}

.leftSection h1 {
    margin-top: 50px;
}

.rightSection {
    width: 49%;
    height: 1490px;
    border-radius: 0px 12px 12px 0px;
    border: 5px solid #38082A;
}

/*Form*/
.labelTop {
    margin-top: 100px;
}

.labelUsual {
    margin-top: 25px;
}

.rightSection span {
    display: inline-block;
}

.labelForm {
    display: block;
    color: rgb(218, 217, 220);
    text-shadow: 2px 2px 2px #CE5937;
}

.inputForm {
    display: block;
    margin-top: 15px;
    color: rgb(118, 115, 115);
    width: 80%;
    height: 35px;
    font-size: 17px;
    border-bottom: 2px solid #38082A;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.btnForm {
    display: block;
    margin-top: 25px;
    width: 180px;
    height: 70px;
    color: white;
    text-shadow: 2px 2px 2px #CE5937;
    background-color: #38082A;
    font-size: 25px;
    border-radius: 12px 12px 12px 12px;
    border: 5px solid #38082A;
}

.btnForm:hover {
    background-color: pink;
    text-shadow: 2px 2px 2px #CE5937;
}

::placeholder {
    color: pink;
    font-size: 17px;
}

.bg-danger {
    background-color: red;
}

.mainDivLeft {
    margin: auto;
    height: 100%;
    width: 80%;
    overflow: auto;
}

.mainDivRight {
    margin: auto;
    height: 100%;
    width: 60%;
    overflow: auto;
}

.inputTable {
    display: block;
    color: rgb(118, 115, 115);
    width: 80%;
    height: 35px;
    font-size: 17px;
    border-bottom: 2px solid #38082A;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.tablePadding th, td {
    padding: 7px 7px;
}

.textArea {
    height: 150px;
}







